### **CUÁL ES EL PERSONAJE TANQUE** 
### 
### **DEL LEAGUE OF LEGENDS**
### 
### **MÁS DÍFICIL DE JUGAR**

In [ ]:
import pandas as pd

df = pd.read_csv('lol_data.csv', index_col = 0)

In [4]:
df_tanques = df.loc[df['herotype'] == 'Tank']

df_ordenado = df_tanques.sort_values(by='difficulty',
                                     ascending=False)

df_ordenado.head(1)

,id,apiname,title,difficulty,herotype,alttype,resource,stats,rangetype,date,...,be,rp,skill_i,skill_q,skill_w,skill_e,skill_r,skills,fullname,nickname
K'Sante,897.0,KSante,the Pride of Nazumah,3,Tank,Fighter,Mana,"{'hp_base': 625, 'hp_lvl': 120, 'mp_base': 320...",Melee,2022-11-02,...,4800,880,{1: 'Dauntless Instinct'},{1: 'Ntofo Strikes'},{1: 'Path Maker'},{1: 'Footwork'},{1: 'All Out'},"{1: 'Dauntless Instinct', 2: 'Ntofo Strikes', ...",NaN,NaN