### **HAZ UN GRÁFICO DE BARRAS CON**
### **LOS 5 ARTISTAS MÁS ESCUCHADOS**

In [ ]:
import pandas as  pd 
import seaborn as sns

df = pd.read_csv('spotify.csv')

In [ ]:
sum_visitas_artistas = df.groupby(by='artist(s)_name', as_index=False)['streams'].sum()
top_5 = sum_visitas_artistas.sort_values(by='streams', ascending=False).head(5)

sns.barplot(data=top_5, x='artist(s)_name', y='streams', palette='viridis')

### **QUE CANCIÓN DE 2023**
### **FUE LA MÁS ESCUCHADA EN SPOTIFY**

In [1]:
import pandas as  pd 

df = pd.read_csv('spotify.csv')

In [ ]:
spotify_2023 = df.loc[df['released_year'] == 2023]

cancion_popular = spotify_2023.sort_values(by='streams', ascending=False).head(1)

cancion_popular[['track_name', 'artist(s)_name', 'streams']]

   track_name artist(s)_name     streams
12    Flowers    Miley Cyrus  1316855716